footer {
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: 60px;
}

.links a {
  color: gray;
  cursor: pointer;
  padding: 15px;
  padding-bottom: 0;
}

.footer-mountain-logo {
  margin: 8px;
  color: green;
  font-size: 20px;

}

.footer-content {
  align-items: center;
  display: flex;
  width: 100vw;
}

.footer-logo {
  color: gray;
  justify-content: center;
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-family: 'Montserrat';
  font-size: 20px;
  margin-bottom: 20px; 
  a {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 5px; 
  }
}

