footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.links a {
  padding: 15px;
  padding-bottom: 0;
  color: gray;
  cursor: pointer
}

.footer-mountain-logo {
  color: green;
  margin: 8px;
  font-size: 32px;
}

.footer-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.footer-logo {
  align-items: center;
  font-family: 'Montserrat';
  color: gray;
  font-size: 35px;
  font-weight: 500;
  flex: 1;
  display: flex;
  justify-content: center;

  a {
    flex-direction: row;
    display: flex;
    align-items: baseline;
  }
}
