@import "../vars.scss";

.nav-bar {
  display: flex;
  height: 60px;
  margin: 0 8px;
  font-family: $tFont;
}

.logo-title-div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 25px;
}

.nav-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo-title {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-stretch: extra-condensed;
  font-weight: 500;
}

.mountain-logo {
  color: rgb(46, 163, 46);
  margin-right: 2px;
  font-size: 25px;
}

.login-button {
  font-size: 13px;
  margin-right: 3px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 8px;
  margin-left: 8px;
  border: 2px solid #219ad8;
  color: #219ad8;
}

.login-button:hover {
  color: rgb(87, 149, 194);
  border: 2px solid rgb(87, 149, 194);
}

.sign-up-button,
.upgrade {
  font-size: 13px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 8px;
  margin-left: 8px;
  background-color: #219ad8;
  border: 2px solid #219ad8;
  color: white;
}

.sign-up-button:hover {
  background-color: rgb(106, 190, 243);
  border: 2px solid rgb(106, 190, 243);
}

.user-dropdown:hover {
  display: block;
}

.profile-pic {
  background: image-url("user_icon.png");
  height: 42px;
  width: 42px;
  background-size: cover;
  margin-left: 20px;
}

.user-dropdown {
  display: none;
  position: absolute;
  margin-top: 110px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  width: 190px;
  z-index: 1;
  color: $dg;

  button {
    display: block;
    padding: 15px 20px;
    width: 100%;
    cursor: pointer;
  }

  .dd-logout {
    padding: 10px 0px 10px 20px;
    display: block;
    font-size: 13px;
    color: #777474;
  }

  .dd-logout:hover {
    cursor: pointer;
  }

  li:first-child {
    margin-top: 16px;
  }

  li:last-child {
    margin-bottom: 14px;
  }
}

.user-dropdown:hover {
  display: block;
}

.profile-dropdown {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px;
}

.profile-dropdown:hover + .user-dropdown {
  cursor: pointer;
  display: block;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  width: 190px;
  z-index: 3;
}
