.trail-container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEF2ED;
}
@media only screen and (max-width: 1000px){
    .trail-container {
        align-items: flex-start;
    }
}
.content-container {
    width: 1000px;
    display: flex;
    flex-direction: column;
    // border: red;
    // border-style: solid;
    //need to stop page from cutting off content on minimize
}

.sub-nav {
    width: 100%;
    height:70px;
    display: flex;
    justify-content: space-between;
    // background-color: red;
    align-items: center;
}
.sub-nav-search-container {
    display: flex;
    position: relative;
}
// .sub-search-text-bar {
//     height: 50px;
//     width: 250px;
//     // background-color: lightgray;
//     border-radius: 8x;

// }
.sub-search-bar-text {
    height: 40px;
    width: 270px;
    background-color: lightgray;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    text-align: left;
    font-family: 'Saira Condensed', sans-serif;
    padding-left: 8px;
}

.sub-search-button {
    height: 40px;
    width: 55px;
    background-color: #E6692A;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px; 
    // margin-right: 8px; 
    display: flex;
}
.trail-location-container {
    // margin-left: 10px;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: row;
}
.sub-search-button:hover {
    cursor: pointer;
}

.sub-search-button > img {
    height: 89%;
}
.trail-head {
    width: 100%;
    height: 550px;
    position: relative;
    // background-color: yellow;
   
    overflow: hidden;
    // z-index: 6px;
}
.border {
    border-bottom: solid #E6692A 50px;
    position: relative;
    z-index: 6;
    bottom: -500px;
}

.trail-info-container {
    display: flex;
    flex-direction: row;
    // background-color: royalblue;
    flex-grow: 1;
    height: 400px; 
    border-left: solid gray 2px;
    border-right: solid gray 2px;
    background-color: whitesmoke;
    z-index: 8;
    
}

.trail-info-sub-container {
    // margin: 15px;
    font-family: 'Saira Condensed', sans-serif;
    width: 100%;
    border-right: solid gray 2px;
}

.trail-summary {
    font-size: 20px;
    padding-left: 10px;
    padding-top: 13px;
}
.trail-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 6%;
    border-top: solid gray 2px;
    padding-top: 20px;
    padding-left: 15px;
}
.trail-length-img {
    -webkit-filter: #E6692A;
    filter: #E6692A;
    color: #E6692A;
    fill: #E6692A;
    position: relative;
    top: 2px;
    left: -4px;
}
.trail-length-img > img {
    height: 30px;
    width: 30px;
    margin-right: 3px;
}


.trail-length:last-child {
 
    margin-top: 2px;
}

.length-div{
    display: flex;
    flex-direction: row;
}

.trail-elevation:last-child {
    margin-top: 2px;
}
.trail-route-type{
    padding-right: 83px;
}

.trail-route-type:last-child {
    margin-top: 2px;
}

.description-header {
    display: flex;
    position: relative;
    width: 100%;
    // background-color: gray;
    padding-left: 8px;
    align-items: center;
    font-family: 'Saira Condensed', sans-serif;
    top: 11%;
    height: 60px;
    font-size: 22px;
    border-top: solid gray 2px;
    border-bottom: solid gray 2px;
    // background-color: #F0E9E9;
    background-color: gray;
}


.trail-description {    position: relative;
    top: 15%;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 22px;
    padding-left: 8px;
}

.something {
    width: 100%;
    // height: 550px;
    // background-color: seagreen;
    display: flex;
    flex-direction: row;
}

.reviews-container {
    background-color: whitesmoke;
    flex-grow: 1; 
    width: 65%;
    border-left: solid gray 2px;
    border-bottom: solid gray 2px;
}

.nearby-trails-container {
    // background-color: red;
    width: 435px;
    border-left: solid gray 2px;
    border-bottom: solid gray 2px;
    border-right: solid gray 2px;
    background-color: whitesmoke;

}

.reviews-header {
    display: flex;
    position: relative;
    width: 100%;
    padding-left: 8px;
    align-items: center;
    font-family: 'Saira Condensed', sans-serif;
    top: 11%;
    height: 60px;
    font-size: 22px;
    border-top: solid gray 2px;
    border-bottom: solid gray 2px;
    // background-color:  #F0E9E9;
    background-color:  gray;
}


.trail-img-container {
    position: relative;
    background-size: cover;
}

.trail-img-container > img{
 
    width: 100%;
    height: 100%
}

.trail-directions-container {
    font-size: 50px;
}

.trail-directions-container > a {
    text-decoration: none;
    color: white;
   
}


.trail-name-stats-container {
    position: absolute;
    width: 500px;
    height: 113px;
    // background-color: green;
    top: 249px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 8;
}

.stats-container {
    display: flex;
    flex-direction: row;
    width: 275px;
    // background-color: yellow;
    justify-content: space-around;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 25px;
    color: whitesmoke;
    padding: 15px;
}

.trail-name {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 44px;
    color: whitesmoke;
    font-weight: bold;
    padding-left: 15px;
    // color: #E6692A;
    // color: gray;
}

.other-action-container {
    display: flex;
    // justify-content: space-around;
    z-index: 8;
    // background-color: yellow;
    position: absolute;
    bottom: 12px;
    width: 100%;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 50px;
    color: whitesmoke;
    left: 89px;

}

.nearby-trails-container {
    display: flex;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    width: 401px;
}

.nearby-trails-sub-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.nearby-trails-header {
    width: 400px;
    height: 60px;
    background-color: gray;
    font-family: 'Saira Condensed', sans-serif;
    display: flex;
    // justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 8px;
    font-size: 22px;

}

.trail-card-container {
    width: 320px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // background-color: blue;
    font-family: 'Saira Condensed', sans-serif;
    justify-content: flex-start;
    // text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;

}

.trail-card-container:hover {
    cursor: pointer;
}


.trail-card-img{
    width: 100%;
    height: 160px;
    // background-color: red;
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    // border: solid gray 2px;
    overflow: hidden;
    background-size: cover;
}
.trail-card-img > img {
    height: 100%;
    width: 100%;
}

.trail-card-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    border-bottom: solid gray 2px;
    border-right: solid gray 2px;
    border-left: solid gray 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.trail-card-trail-name {
    display: flex;
    // justify-content: flex-start;
    // padding: px;
    font-size: 18px;
}

.trail-card-park_type {
    padding-top: 5px;
    padding-left: 15px;
    font-size: 18px;

}

.trail-card-difficulty-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    width: 59%;
    font-size: 18px;

}

.trail-card-length {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    padding-left: 15px;
 
    font-size: 18px;


}
.trail-card-length > p {
    padding-right: 5px;
}


.review-card-container {
    border: solid gray 2px;
    border-radius: 8px;
    width: 506px;
    height: 150px;
    font-family: 'Saira Condensed', sans-serif;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.review-user-info-cont{
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    // width: 250px;
    width: 100%;
    // margin-bottom: 4px;
}


.review-card-post-date{
    padding-right: 10px;
    padding-top: 4px;
}

.rating {
    display: flex;
    flex-direction: row;
}

.review-card-user-name {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 11px;
    font-size: 20px;
}
.review-first-name {
    padding-right: 6px;
}

