@import "../vars.scss";

.review-post-date-container {
  display: flex;
}

.reviewer-name {
  font-family: $tFont;
  font-size: 14px;
  font-weight: bold;
  color: rgb(68, 68, 68);
  line-height: 1.5em;
}

.rev-user-container {
  display: flex;
}

.startainer {
  display: flex;
}

.review-date {
  margin-left: 10px;
  font-family: $tFont;
  font-size: 12px;
  font-weight: lighter;
}

.reviews-main {
  width: 100%;
  padding: 20px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.review-form-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 47px;
  padding-right: 25px;
}

.review-date-container {
  display: flex;
  flex-direction: column;
}

.review-date-input {
  border: solid gray 1px;
}
.review-date-input {
  border: solid gray 1px;
  width: 130px;
  height: 20px;
  font-size: 12px;
  border-radius: 3px;
  font-family: $tFont;
  margin-right: 30px;
}

.review-rating-container {
  display: flex;
  flex-direction: row;
  font-family: $tFont;
  align-items: center;
}

.review-text-container {
  display: flex;
  flex-direction: column;
  font-family: $tFont;
}

.review-rating-stars {
  display: flex;
  flex-direction: row;
}

.star {
  height: 20px;
  width: 20px;
  font-size: 20px;
  color: rgb(204, 200, 200);
}

.star:hover {
  cursor: pointer;
}

.selected-star {
  color: gold;
}

.login-to-comment {
  text-align: center;
  text-decoration: none;
  color: rgb(173, 168, 168);
  font-family: $tFont;
  font-size: 12px;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 10px;
  padding-top: 10px;
}

.not-selected-star {
  color: rgb(204, 200, 200);
}

.review-text-input {
  height: 150px;
  width: 550px;
  padding-left: 15px;
  margin-bottom: 15px;
  background-color: rgb(228, 228, 228);
  border-radius: 5px;
  color: rgb(68, 68, 68);
  margin-top: 20px;
  line-height: 1.5em;
  padding-top: 15px;
}

.review-title {
  font-size: 16px;
  font-family: $tFont;
  padding-right: 5px;
  padding-top: 3px;
}

.review-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
  padding-right: 30px;
}

.rev-button {
  background: #428a13;
  width: 170px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-family: $tFont;
  font-weight: 600;
  font-size: 14px;
}

.rev-button-1 {
  height: 40px;
  width: 170px;
  background-color: #428a13;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
  font-family: $tFont;
  font-size: 13px;
  font-weight: 600;
  align-items: center;
}

.review-form-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rev-button-2 {
  height: 40px;
  width: 170px;
  background-color: #428a13;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
  font-family: $tFont;
  font-size: 13px;
  font-weight: 600;
  align-items: center;
}

.review-action-buttons {
  display: flex;
  justify-content: space-around;
}

.rev-star-rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.review-image {
  height: 50px;
  width: 50px;
  font-size: 40px;
  background-color: transparent;
  padding-left: 5px;
  margin-right: 15px;
  color: rgb(152, 150, 150);
}

.review-delete-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 179px;
  right: -22px;
  padding-right: 5px;
}

.review-delete-container:hover {
  cursor: pointer;
}

.svg-inline--fa {
  height: 50px;
}
.reviewtainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 50px;
}

.review-card-text-container {
  padding-top: 5px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 5px;
  font-family: $tFont;
  font-size: 14px;
  color: rgb(86, 83, 83);
  line-height: 1.6em;
}

.header-review {
  font-family: $tFont;
  font-size: 15px;
  width: 30px;
  font-weight: 600;
  color: rgb(80, 79, 79);
  margin-left: 20px;
}
