
.index-trail-pic {
  transition: transform 0.3s ease; 
}

.index-trail-pic:hover {
  transform: scale(1.04); 
}

.index-trail-pic {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 300px;
  height: 130px; 
  margin: 10px; 

}

// .outer-trailtainer {
//   margin-left: 10px;
// }

.index-trailtainer {
  margin-left: 20px; 
  display: flex; 
  overflow-x: auto;
  max-height: 400px; 
  min-height: 0;
}
.index-trailtainer::-webkit-scrollbar {    display: none;}

.trail-icc {
  display: flex; 
}

.item-locale {
  margin-top: 8px;
  font-size: 14px; 
  font-weight: 300;
}

// .trail-info {
//   position: absolute;
//   color: white; 
//   top: 150px; 
//   left: 24px; 
//   margin: auto; 
// }




// .trail-pic-container:hover {
//     position:relative;
//     top:-25px;
//     left:-35px;
//     width:500px;
//     height:auto;
//     display:block;
//     z-index:999;
// }


.truncated-name {
  padding-left: 20px; 
  font-weight: bold; 
  font-family: "Montserrat";
  color: rgb(92, 89, 89);
  padding-bottom: 20px;
}

.trail-item-difficulty {
    margin-top: 14px; 
    padding: 2px 12px;
    color: white;
    border-radius: 6px;
    font-family: "Montserrat";
    font-size: 11px;
    font-weight: 300;
}

.moderate {
    background-color: #5bbcec;
}

.hard {
    background-color: gray;
}

.easy {
    background-color: green;
}


.item-distance-div {
  margin-top: 10px; 
}

.item-difficulty-rating {
  margin-top: 8px; 
}

.item-distance {
  font-size: 14px; 
  font-weight: 300;
}

// .trail-pic-container {
//   // overflow: hidden; 
//   height: 163px; 
// }

.test {
  width: 320px; 
  margin-top: 25px;
  margin-bottom: 25px;
}