$dg: #454545;
$mg: #646255;
$buttonG: #66a13b;
$grey: #777474;
$lgrey: #e0dddd;
$orange: #f4a341;
$contentBorder: 1px solid $lgrey;
$inputBorder: 1px solid $lgrey;
$button: #279cd6;
$buttonHover: #3b96c4;
$mainFont: "Montserrat", Arial, sans-serif;
